.navbar{
    height: 60px;
    width: 755px;
    margin-right: 4rem;
    align-self: flex-end;
}
.navbar ul{
    height: inherit;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{

}
.navbar ul li a{
    font-size: var(--font-navbar);
    color: #fff;
}