.navbar{
    height: 60px;
    width: 865px;
    align-self: flex-end;
}
.navbar ul{
    height: inherit;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li:last-child{
    background-color: #EE4D47;
    margin-right: 150px;
    padding: 8px 8px 2px 8px;
    max-width: 158px;
    height: 40px;
    border-radius: 6px;
}
.navbar ul li a{
    font-family: var(--font-navbar);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}