.navbar{
    height: 60px;
    width: 865px;
    align-self: flex-end;
    flex-shrink:4;
}
.navbar svg{
    cursor: pointer;
}
.navbar__mobile-menu{
    display: none;
}
@media screen and (max-width: 960px){
    .navbar{
        display: flex;
        justify-content: flex-end;
    }
    .navbar__mobile-menu{
        display: block;
        padding-top: .5rem;
        width: 200px;
    }
    .navbar__mobile-menu svg{
        margin-left: 80%;
    }
}